/build*
*~
.*.swp
*.pyc
.cproject
.project
.settings/

/dhewm*
/*-releases/
/neo/.vs*
/neo/out*
/neo/build*
/.vs*

/neo/CMakeSettings.json
CMakeFiles/*

AppPackages/**
Debug/**
Release/**
base.dir/**
d3xp.dir/**
idlib.dir/**
packages/**

uwp/BundleArtifacts/**
uwp/GeneratedFiles/**
x64/**
